/* Mobile-specific styles */
@media (max-width: 600px) {
    header .header-content {
        flex-direction: column;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
    }

    .header-content img.logo {
        margin-bottom: 10px;
    }

    .product-grid {
        grid-template-columns: 1fr;
    }

    .info-item, .product {
        padding: 10px;
        margin-bottom: 20px;
    }
}
